{% extends 'base.html' %}

{% block title %}
{{ news_item.title }}
{% endblock %}


{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="card mt-3">
    <div class="card-header">
        В категории: <a href="{{ news_item.category.get_absolute_url }}">{{ news_item.category }}</a>
    </div>
    <div class="card-body">
        <div class="media">
            <h4 class="card-title">{{ news_item.title|linebreaks }}</h4>
            {% if news_item.photo_url %}
            <img src="{{ news_item.photo_url }}" alt="" width="610" height="385">
            {% else %}
            <img src="https://picsum.photos/id/1018/300/200" alt="">
            {% endif %}
            <div class="media-body">
                <header>
                    <p class="card-text">{{ news_item.photo_src_name}}</p>
                </header>
                <h6>
                    <p class="card-text">{{ news_item.preview_text|linebreaks}}</p>
                </h6>
                <p class="card-text">{{ news_item.full_text|safe}}</p>
                <hr>
                    <em>
                    <b>Теги:</b>
                    {% for tag in news_item.tags.all %}
                    <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>,
                    {% endfor %}
                    <em/>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        Текст: {{ news_item.text_author}} / {{ news_item.published_at }} / просмотров: {{ news_item.views }}

    </div>
</div>
{% endblock %}